venv
.venv
*.pyc
*.pkl
*.bullet
highlevel_planning/knowledge/chimera
highlevel_planning/knowledge/chimera-test
highlevel_planning/data/reports
highlevel_planning/data/predicates
*.egg-info
build/
dist/
.idea/
cmake-build-debug/
.ipynb_checkpoints